.sc-explorer .sc-header,
.sc-persons-index .sc-header {
  height: 0px;
}

.fixed-header__logo a,
.fixed-header__logo a:visited,
.fixed-header__menu li a,
.fixed-header__menu li a:visited,
.fixed-header__submenu li {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.fixed-header {
  position: absolute;
  top: 0;
  min-width: 1220px;
  width: 100%;
  height: 120px;
  background-color: #0f2a31;
  z-index: 200;
  border-bottom: 3px #172127 solid;
  -moz-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.4);
}

.fixed-header__logo {
  position: absolute;
  top: 30px;
  left: 50px;
  width: 587px;
}

.fixed-header__logo a,
.fixed-header__logo a:visited {
  display: block;
  position: relative;
  padding-left: 264px;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 1.7;
  font-weight: 400;
  text-transform: none;
  color: #d9d6bb;
}

.fixed-header__logo a::before,
.fixed-header__logo a:visited::before {
  content: '';
  position: absolute;
  left: 0;
  top: 6px;
  width: 215px;
  height: 65px;
  background: url(/assets/img-site-sprite@2x.png) 0 -480px no-repeat;
}

.fixed-header__logo a::after,
.fixed-header__logo a:visited::after {
  content: '';
  position: absolute;
  left: 244px;
  top: 7px;
  bottom: 8px;
  border-left: 1px #d9d6bb solid;
}

.fixed-header__menu {
  position: absolute;
  bottom: -3px;
  top: 20px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  right: 10px;
}

.fixed-header__menu li {
  display: inline-block;
  vertical-align: top;
  position: relative;
  height: 100%;
  padding: 0 32px;
  margin-right: 0;
}

.fixed-header__menu li+li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 6px;
  height: 65px;
  border-right: 1px #172127 solid;
}

.fixed-header__menu li .hamburger {
  position: relative;
  display: block;
  border: none;
  background-color: transparent;
  outline: 0;
  top: 6px;
  width: 60px;
  height: 94px;
}

.fixed-header__menu li .hamburger .icon {
  content: '';
  border: none;
  position: absolute;
  top: 10px;
  left: 50%;
  width: 36px;
  height: 36px;
  margin-left: -16px;
  cursor: pointer;
  outline: 0;
}

.fixed-header__menu li .hamburger .icon .lines {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -10px;
  margin-top: -8px;
  width: 19px;
  padding: 7px 0;
  border-top: 2px #fff solid;
  transition: .2s all;
}

.fixed-header__menu li .hamburger .icon .lines::after,
.fixed-header__menu li .hamburger .icon .lines::before {
  content: '';
  transition: .2s all;
  position: absolute;
  left: 0;
  width: 100%;
  border-bottom: 2px #fff solid;
}

.fixed-header__menu li .hamburger .icon .lines::before {
  bottom: 0;
}

.fixed-header__menu li .hamburger .icon .lines::after {
  bottom: 7px;
}

.fixed-header__menu li .hamburger.active {
  background-color: #172127;
}

.fixed-header__menu li .hamburger.active .icon .lines {
  border-top: 2px transparent solid;
}

.fixed-header__menu li .hamburger.active .icon .lines::before {
  -webkit-transform: rotate(-45deg) translateX(1px) translateY(1px);
  -ms-transform: rotate(-45deg) translateX(1px) translateY(1px);
  transform: rotate(-45deg) translateX(1px) translateY(1px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}

.fixed-header__menu li .hamburger.active .icon .lines::after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.fixed-header__menu li a,
.fixed-header__menu li a:visited {
  display: block;
  position: relative;
  height: 100%;
  padding-top: 57px;
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  transition: .2s all;
}

.fixed-header__menu li a.menu-icons::after,
.fixed-header__menu li a:visited.menu-icons::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: -5px;
  right: -5px;
  border-top: 0 #d7c000 solid;
  transition: .2s all;
}

.fixed-header__menu li a.menu-icons::before,
.fixed-header__menu li a:visited.menu-icons::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  background: url(/assets/img-site-sprite.png) no-repeat;
}

@media (-webkit-min-device-pixel-ratio:1.3),
(-webkit-min-device-pixel-ratio:1.25),
(min-resolution:120dpi) {
  .fixed-header__menu li a.menu-icons::before,
  .fixed-header__menu li a:visited.menu-icons::before {
      background: url(/assets/img-site-sprite@2x.png) no-repeat;
      background-size: 300px 300px;
  }
}

.fixed-header__menu li a.menu-icons_01::before,
.fixed-header__menu li a:visited.menu-icons_01::before {
  width: 32px;
  height: 41px;
  margin-left: -16px;
}

.fixed-header__menu li a.menu-icons_02::before,
.fixed-header__menu li a:visited.menu-icons_02::before {
  width: 48px;
  height: 41px;
  background-position: -42px 0;
  margin-left: -24px;
}

.fixed-header__menu li a.menu-icons_03::before,
.fixed-header__menu li a:visited.menu-icons_03::before {
  width: 43px;
  height: 41px;
  background-position: -100px 0;
  margin-left: -22px;
}

.fixed-header__menu li a.menu-icons_04::before,
.fixed-header__menu li a:visited.menu-icons_04::before {
  width: 38px;
  height: 41px;
  background-position: -153px 0;
  margin-left: -19px;
}

.fixed-header__menu li a.menu-icons_05::before,
.fixed-header__menu li a:visited.menu-icons_05::before {
  width: 54px;
  height: 37px;
  background: url(/assets/people-icon.png) no-repeat!important;
  background-size: 115px 37px!important;
  margin-left: -27px;
  margin-top: 3px;
}

.fixed-header__menu li a.menu-icons:hover::after,
.fixed-header__menu li a:visited.menu-icons:hover::after {
  border-top: 3px #d7c000 solid;
}

.fixed-header__menu li a:hover,
.fixed-header__menu li a:visited:hover {
  color: #d7c000;
}

.fixed-header__menu li.active a.menu-icons::after {
  border-top: 3px #48809f solid;
}

.fixed-header__menu li.active a.menu-icons_01::before {
  background-position: 0 -56px;
}

.fixed-header__menu li.active a.menu-icons_02::before {
  background-position: -42px -56px;
}

.fixed-header__menu li.active a.menu-icons_03::before {
  background-position: -100px -56px;
}

.fixed-header__menu li.active a.menu-icons_04::before {
  background-position: -153px -56px;
}

.fixed-header__menu li.active a.menu-icons_05::before {
  background-position: -61px 0!important;
}

.fixed-header__submenu {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  padding-right: 50px;
  height: 70px;
  text-align: right;
  background-color: #172127;
}

.fixed-header__submenu.active {
  display: block;
}

.fixed-header__submenu li {
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  line-height: 70px;
  color: #fff;
}

.fixed-header__submenu li+li {
  margin-left: 45px;
}

.fixed-header__submenu li a,
.fixed-header__submenu li a:visited {
  color: inherit;
  transition: .2s all;
}

.fixed-header__submenu li a:hover,
.fixed-header__submenu li a:visited:hover {
  color: #d7c000;
}

.fixed-header.floated {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  top: -75px;
  height: 75px;
  transition: .35s all;
}

.index-slideshow,
.index-slideshow__slide {
  position: relative;
  height: 100%;
}

.fixed-header.floated .fixed-header__logo {
  width: 144px;
  height: 44px;
  top: 15px;
}

.fixed-header.floated .fixed-header__logo a,
.fixed-header.floated .fixed-header__logo a:visited {
  padding: 0;
  color: transparent;
  height: 44px;
  text-indent: -9999px;
}

.fixed-header.floated .fixed-header__logo a::before,
.fixed-header.floated .fixed-header__logo a:visited::before {
  width: 144px;
  height: 44px;
  top: 0;
  background: url(/assets/img-site-sprite@2x.png) 0 -320px no-repeat;
  background-size: 400px 400px;
}

.fixed-header.floated .fixed-header__logo a::after,
.fixed-header.floated .fixed-header__logo a:visited::after {
  display: none;
}

.fixed-header.floated .fixed-header__menu {
  top: 10px;
}

.fixed-header.floated .fixed-header__menu li .hamburger {
  top: 0;
  height: 64px;
}

.fixed-header.floated .fixed-header__menu li+li::before {
  height: 45px;
}

.fixed-header.floated .fixed-header__menu li a,
.fixed-header.floated .fixed-header__menu li a:visited {
  padding-top: 22px;
  padding-left: 40px;
}

.fixed-header.floated .fixed-header__menu li a.menu-icons::before,
.fixed-header.floated .fixed-header__menu li a:visited.menu-icons::before {
  left: 15px;
  top: 50%;
}

.fixed-header.floated .fixed-header__menu li a.menu-icons_01::before,
.fixed-header.floated .fixed-header__menu li a:visited.menu-icons_01::before {
  width: 25px;
  height: 31px;
  margin-top: -19px;
  background-position: -119px -118px;
}

.fixed-header.floated .fixed-header__menu li a.menu-icons_02::before,
.fixed-header.floated .fixed-header__menu li a:visited.menu-icons_02::before {
  width: 36px;
  height: 32px;
  margin-top: -19px;
  left: 20px;
  background-position: -120px -157px;
}

.fixed-header.floated .fixed-header__menu li a.menu-icons_03::before,
.fixed-header.floated .fixed-header__menu li a:visited.menu-icons_03::before {
  width: 32px;
  height: 28px;
  margin-top: -16px;
  left: 18px;
  background-position: -119px -197px;
}

.fixed-header.floated .fixed-header__menu li a.menu-icons_04::before,
.fixed-header.floated .fixed-header__menu li a:visited.menu-icons_04::before {
  width: 30px;
  height: 29px;
  margin-top: -18px;
  left: 17px;
  background-position: -119px -233px;
}

.fixed-header.floated .fixed-header__menu li a.menu-icons_05::before,
.fixed-header.floated .fixed-header__menu li a:visited.menu-icons_05::before {
  width: 38px;
  height: 26px;
  margin-top: -14px;
  left: 22px;
  background-size: 80px 26px!important;
}

.fixed-header.floated .fixed-header__menu li.active a.menu-icons_01::before {
  background-position: -167px -118px;
}

.fixed-header.floated .fixed-header__menu li.active a.menu-icons_02::before {
  background-position: -168px -157px;
}

.fixed-header.floated .fixed-header__menu li.active a.menu-icons_03::before {
  background-position: -167px -197px;
}

.fixed-header.floated .fixed-header__menu li.active a.menu-icons_04::before {
  background-position: -167px -233px;
}

.fixed-header.floated .fixed-header__menu li.active a.menu-icons_05::before {
  background-position: -42px 0!important;
}

.fixed-header.floated.visible {
  opacity: 1;
  visibility: visible;
  top: 0;
}